{{ define "header" }}
  {{/* We can override any block in the baseof file be defining it in the template */}}
  <!-- {{ partial "page-header.html" . }} -->
{{ end }}

{{ define "main" }}
  {{ $page := .}}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="min-vh-100 flex flex-column cover" style="background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.7)), url('{{ trim .Params.featured_image_body "/" | absURL }}');">
    <header class="gold" style="background-image: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,0));">{{ partial "home-header.html" . }}</header>
    <div class ="pv6 ph3 white" style="background-image: radial-gradient(ellipse 70% 30%, rgba(0,0,0,0.5),rgba(0,0,0,0));">
      <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}" >
        {{- .Content -}}
        <button class="br3 ph2 pv1 hover-gold bg-white-20 white" onclick="document.location='{{trim .Params.button_url "/" | relURL}}'">{{.Params.button_text}}</button>
      </section>
    </div>
    <div class="flex-auto"></div> <!-- fill space to the bottom of view port -->
    <footer class="">{{ partialCached "home-footer.html" . }}</footer>
  </div>
{{ end }}

{{ define "footer" }}
  {{/* We can override any block in the baseof file be defining it in the template */}}
  <!-- <div class="bg-red">{{ partialCached "site-footer.html" . }}</div> -->
{{ end }}