{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="bg-white-20 cover bg-bottom" style="background-image: url('{{ .Page.Params.featured_image_main }}')">
  <article class="pa3 pa4-ns nested-copy-line-height {{ .Params.cover_dimming_class }}">
  {{ $page := .}}
  {{ $section := .Site.GetPage "section" .Section }}

  <p>.Site.Title  = {{ .Site.Title }}</p>
  <p>.Page.Title = {{ .Page.Title }}</p>
  <p>.Title = {{.Title}}</p>
  <p>{{ $.Title}} - {{ . }}</p>
  <p>.Kind = {{ .Kind }}</p>
  <p>.Site.Pages = {{ .Site.Pages }}</p>
  <!-- <p>{{  .Site.Params }}</p>
  <ul>
    {{ range $key, $value := .Site.Params.ananke.social}}
      <li>{{ $key }}: {{ $value }}</li>
    {{ end }} -->
  </ul>
  <h1>{{ .Title}}</h1>
  <ul>
      {{ range where .Site.RegularPages.ByDate "Section" "==" "timeline" }}
          <li>
            <p><strong>{{ .Date | dateFormat "January 2, 2006" }}</strong> : <a href="{{ .Permalink }}">{{ .Title }}</a></p>
            <p>{{ .Summary }}</p>
          </li>
      {{ end }}
  </ul>
{{ end }}

