{{ define "header" }}
  {{/* We can override any block in the baseof file be defining it in the template */}}
  {{/* partial "home-header.html" . */}}
  <div class="bg-dark-blue" style="background-image: linear-gradient(to left , rgba(0,0,0,.5), rgba(0,0,0,0))">{{ partial "site-navigation.html" . }}</div>
{{ end }}

{{ define "main" }}

  {{ if .Page.Params.featured_image_main }}
  <div class="cover bg-top white"
      style="background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6)),
      url('{{ .Page.Params.featured_image_main }}') ">
  {{ else }}
  <div  class="black">
  {{ end}}
  <article class="pa3 pa4-ns nested-copy-line-height">
    {{- .Content -}}
    <div>
      <ul>
      {{ range where .Site.RegularPages.ByDate "Section" "==" "timeline" }}
        <li>
          <strong>{{ .Date | dateFormat "January 2, 2006" }}</strong> [<a href="{{ .Permalink }}">{{ .Title }}</a>]<br>{{ .Summary }}
        </li>
        {{ end }}
      </ul>
    </div>

  </article>
  {{end}}
  {{ define "footer"}}
    <div class="bg-dark-blue" style="background-image: linear-gradient(to left , rgba(0,0,0,0), rgba(0,0,0,0.5))">{{ partialCached "page-footer.html" . }}</div>
  {{end}}