{{ define "header" }}
  {{/* We can override any block in the baseof file be defining it in the template */}}
  {{/* partial "home-header.html" . */}}
  <div class="bb bw2 b--white bg-purple" style="background-image: linear-gradient(to left , rgba(0,0,0,.7), rgba(0,0,0,.5))">{{ partial "site-navigation.html" . }}</div>
{{ end }}

{{ define "main" }}
  {{ if .Page.Params.featured_image_body }}
  <!-- <div class="cover bg-top bg-washed-yellow white"
      style="background-image: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0.6)),
      url('{{ .Page.Params.featured_image_body }}') "> -->
  {{ else }}
  <div  class="near-black">
  {{ end}}
    <article class="navy pa3 pa4-ns nested-copy-line-height " >
      <div class="f3"> {{- .Page.Params.description -}}</div>
      <div class="f4">{{- .Content -}}</div>
        <ul class="list pl0 f4">
        {{ range where .Site.RegularPages.ByDate "Section" "==" "timeline" }}
          <hr>
          <a class="link" href="{{ .RelPermalink }}">
            <li class="mid-gray shrink-right flex-ns justify-left">
              <div class="navy w-30-l w-100 pr1">
                <div class="b">{{ .Date | dateFormat "January 2, 2006" }}</div>
                <div class="nowrap ">{{ .Title }}</div>
              </div>
              <!-- <div class="w-100 mid-gray">{{ .Summary | strings.TrimPrefix "<p>" | strings.TrimSuffix "</p>" }}</div> -->
              <div class="w-100 flex items-center mid-gray">{{ .Summary | plainify }}</div>
            </li>
          </a>
        {{ end }}
        <hr>
        </ul>
    </article>
  </div>
  {{end}}
  {{ define "footer"}}
    <div class="flex-auto bg-center" style="background-image: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0.6)),
                                            {{ if .Page.Params.featured_image_body }}
                                              url('{{ .Page.Params.featured_image_body }}')
                                            {{ end}} ">
    </div>
    <div class="bg-purple" style="background-image: linear-gradient(to left , rgba(0,0,0,0.3), rgba(0,0,0,0.3))">{{ partialCached "page-footer.html" . }}</div>
  {{end}}