{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{ $background_image_body := trim .Params.background_image_body "/" | relURL }}
<div class="bg-white-20 cover bg-bottom " style="background-image: url('{{ $background_image_body }}')">
  <article class="pa3 pa4-ns nested-copy-line-height {{ .Params.cover_dimming_class }}">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy bg-white {{ $.Param "text_color" | default "mid-gray" }}">
        {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range first 2 .Paginator.Pages }}
        <div class="relative w-100 w-40-ns mb4 bg-white-90 br4">
          {{ with .Params.featured_image_body }}
          <span class="dib tc br4">
            <img src="{{ trim . "/" | relURL }}" class="br--top br4">
          </span>
          {{ end }}
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
</div>
{{ end }}